/*------------------------
    Contact Area
------------------------*/
.contact-area{
    &.contact-bg{
        background-image: url(../img/bg/contact-bg.png);
        background-repeat: no-repeat;
        background-position: center;
        padding: 120px 0; 
    }
}
.contact-outer-area {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 67px 114px 50px rgba(0, 0, 0, 0.08);
    padding: 68px 0 80px 0;
    border-radius: 5px;
}
.content-form-wrapper{
    .section-title{
        .title{}
        p{}
    }
}
.contact-form{
    .form-group{
        &.textarea{
            .form-control{
                min-height: 160px;
                resize: none;
                padding: 20px 30px;
            }
        }
        .form-control{
            background-color: #f4f4fd;
            border: none;
            height: 60px;
            padding: 15px 30px;
        }
    }
    .submit-btn{
        border-radius: 30px;
        cursor: pointer;
        letter-spacing: 2px;
        background-image: -moz-linear-gradient( 180deg, rgb(161,34,153) 0%, rgb(210,58,116) 51%, rgb(249,104,52) 99%);
        background-image: -webkit-linear-gradient( 180deg, rgb(161,34,153) 0%, rgb(210,58,116) 51%, rgb(249,104,52) 99%);
        background-image: -ms-linear-gradient( 180deg, rgb(161,34,153) 0%, rgb(210,58,116) 51%, rgb(249,104,52) 99%);
        &:hover{
            background-image: unset;
            background-color: $secondary-color;
        }
    }
}