/*------------------------
    Intro Video Area
-------------------------*/
.intro-video-area {
    &.intro-video-bg{
        background-image: url(../img/bg/video-area-bg.png);
        background-repeat: no-repeat;
        background-position: center;
        // background-size: cover;
    }
}
.intro-video-inner{
    .img-wrapper{
        position: relative;
        z-index: 0;
        img{
            box-shadow: 0 90deg 114px 0 rgba(#000,.20); 
        }
        .hover{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .video-play-btn{
                background-image: -moz-linear-gradient( 180deg, rgb(161,34,153) 0%, rgb(210,58,116) 51%, rgb(249,104,52) 99%);
                background-image: -webkit-linear-gradient( 180deg, rgb(161,34,153) 0%, rgb(210,58,116) 51%, rgb(249,104,52) 99%);
                background-image: -ms-linear-gradient( 180deg, rgb(161,34,153) 0%, rgb(210,58,116) 51%, rgb(249,104,52) 99%);
                color: $white;
                width: 120px;
                height: 120px;
                line-height: 120px;
                font-size: 30px;
                &:before{
                    background-image: -moz-linear-gradient( 180deg, rgb(161,34,153) 0%, rgb(210,58,116) 51%, rgb(249,104,52) 99%);
                    background-image: -webkit-linear-gradient( 180deg, rgb(161,34,153) 0%, rgb(210,58,116) 51%, rgb(249,104,52) 99%);
                    background-image: -ms-linear-gradient( 180deg, rgb(161,34,153) 0%, rgb(210,58,116) 51%, rgb(249,104,52) 99%);
                    width: 150px;
                    height: 150px;
                }
            }
        }
    }
}