/*--------------------------
    Pricing Plan
--------------------------*/
.price-plan-area{
    .section-title{
        margin-bottom: 125px;
    }
}
.single-price-table-01{
    // box-shadow: 0px 67px 54px 40px rgba(0, 0, 0, 0.08);
    text-align: center;
    &.active{
        box-shadow: 0px 67px 54px 0px rgba(0, 0, 0, 0.08);
        padding: 74px 0 80px 0;
        position: relative;
        top: -40px;
        @include transform(scale(1.1));
    }
     border: 1px solid rgba(#000,.05);
     padding: 44px 0 50px 0;
     .price-header{
         .name{
             font-size: 16px;
             line-height: 26px;
             text-transform: uppercase;
             font-weight: 600;
             letter-spacing: 2px;
             margin-bottom: 15px;
             display: block;
         }
         .price-wrap{
             font-size: 40px;
             line-height: 50px;
             font-weight: 600;
             color: $heading-color;
             .month{
                 font-size: 16px;
                 line-height: 26px;
             }
         }
     }
     .price-body{
         margin: 60px 0 54px 0;
        ul{
            margin: 0;
            padding: 0;
            list-style: none;
            li{
               margin: 17px 0;
            }
        }
    }
}  