/*--------------------------
    Team Member
--------------------------*/
.single-team-member-01{
    display: inline-block;
    text-align: center;
    &:hover{
        .thumb{
            .hover{
                visibility: visible;
                opacity: 1;
                @include transform(scale(1));
            }
        }
    }
    .thumb{
        position: relative;
        z-index: 0;
        width: 200px;
        height: 200px;
        margin: 0 auto;
        border-radius: 50%;
        margin-bottom: 25px;
        img{
            border-radius: 50%;
        }
        .hover{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-image: -moz-linear-gradient( 180deg, rgba(161,34,153,.6) 0%, rgba(210,58,116,.6) 51%, rgba(249,104,52,.6) 99%);
            background-image: -webkit-linear-gradient( 180deg, rgba(161,34,153,.6) 0%, rgba(210,58,116,.6) 51%, rgba(249,104,52,.6) 99%);
            background-image: -ms-linear-gradient( 180deg, rgba(161,34,153,.6) 0%, rgba(210,58,116,.6) 51%, rgba(249,104,52,.6) 99%);
            border-radius: 50%;
            visibility: hidden;
            opacity: 0;
            @include transition($transition);
            @include transform(scale(0));
            .social-icon{
                margin: 0;
                padding: 0;
                list-style: none;
                li{
                    display: inline-block;
                    margin: 0 5px;
                   a{
                        color: rgba($white,.8);
                        @include transition($transition);
                        i{
                            @include transition($transition);
                            &:hover{
                                @include transform(scale(1.5));
                            }
                        }
                        &:hover{
                            color: $white;
                        }
                   }
                }
            }
        }
    }
    .description{
        .name{
            font-size: 20px;
            line-height: 30px;
            font-weight: 600;
            margin-bottom: 0px;
        }
    }
}