/* ==========================================================================
# Portfolio Standard  - begin
========================================================================== */

.qodef-ptf-standard{

    .qodef-portfolio-list-holder {
        height: 100%;
        line-height: 0;
        text-align: justify;
        font-size: 0.1px;
        margin: 0 0 -2.5% 0;

        article{

            margin: 0 0 2.5%;
            text-align:left;
            .qodef-item-image-holder {
                .qodef-portfolio-item-overlay {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    opacity: 0;
                    background-color: rgba(36, 38, 42, 0.65);
                    -webkit-transition: opacity .4s;
                    -moz-transition: opacity .4s;
                    transition: opacity .4s;
                }
            }

            .qodef-ptf-category-holder {
                line-height:18px;
                color: #979ea7;
                font-size: 13px;
                font-weight: 400;
            }

            .qodef-item-title{
                padding: 15px 0 0 0;
            }
            &:hover {
                .qodef-item-image-holder {
                    .qodef-portfolio-item-overlay {
                        opacity: 1;
                    }
                }
            }
        }

    }

    &.qodef-ptf-two-columns {
        article,
        .qodef-filler{
            width: 48.75%;
        }
    }

    &.qodef-ptf-three-columns {
        article,
        .qodef-filler{
            width: 31.6%;
        }
    }

    &.qodef-ptf-four-columns {
        article,
        .qodef-filler{
            width: 23.2%;
        }
    }

    &.qodef-ptf-five-columns {
        article,
        .qodef-filler{
            width: 18%;
        }
    }

    &.qodef-ptf-six-columns {
        article,
        .qodef-filler{
            width: 14.7%;
        }
    }
}

/* ==========================================================================
# Portfolio Standard  - end
========================================================================== */



