/* ==========================================================================
   Blockquote shortcode start styles
   ========================================================================== */
blockquote{
	position: relative;
	display: block;
    margin-left: 75px;

    .qodef-blockquote-text {


        &:before {
            content: "\7b";
            position: absolute;
            font-family: 'ElegantIcons', sans-serif;
            top: 10px;
            left: -100px;
            font-size: 110px;
            color: #e9eaee;
        }

        span {
            position: relative;
            z-index: 99;
            font-family: Georgia, serif;
            font-style: italic;
            color: #24262a;
        }
    }
}

/* ==========================================================================
   Blockquote shortcode end styles
   ========================================================================== */