/* ==========================================================================
# Pie Chart Basic - begin
========================================================================== */

.qodef-pie-chart-holder {
	position: relative;
	display: block;

	.qodef-percentage {
		position: relative;
		display: block;
		height: 200px;
		width: 200px;
		line-height: 200px;
		text-align: center;
		margin: 0 auto;
		opacity: 0;
		filter: alpha(opacity=0);
		@include qodefTransition(opacity .3s ease-out);

		.qodef-pie-title {
			line-height: inherit;
		}

	}

	.qodef-percentage canvas {
		position: absolute;
		top: 0;
		left: 0;
	}

	.qodef-to-counter {
		position: relative;
		font-weight: 400;
		font-size: 42px;
		color: #444;
        vertical-align: middle;

        &:after {
            content: "%";
            font-size: 24px;
            font-weight: 400;
            vertical-align: bottom;
        }
	}

	.qodef-pie-chart-text {
		text-align: center;
		margin: 25px 0 0;

        .qodef-pie-chart-separator-holder {
            line-height: 0;
            margin-bottom: 14px;

            .qodef-pie-chart-separator {
                display: inline-block;
                width: 12px;
                border-bottom: 1px solid $first-main-color;
            }
        }

		.qodef-pie-title {
			margin: 0 0 8px;
		}

        p {
            margin: 0;
        }

	}

}

/* ==========================================================================
# Pie Chart Basic - end
========================================================================== */
