/* ==========================================================================
   WooCommerce Buttons styles - begin
   ========================================================================== */

.woocommerce-page .qodef-content,
div.woocommerce {
    a.button,
    a.added_to_cart,
    input[type="submit"],
    button[type="submit"] {
        -webkit-appearance: none;
        background-color: $first-main-color;
        border: 1px solid $first-main-color;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-family: inherit;
        font-size: 13px;
        font-weight: 700;
        height: 45px;
        letter-spacing: 0.5px;
        line-height: 45px;
        outline: none;
        padding: 0 21px;
        position: relative;
        text-transform: uppercase;
        vertical-align: middle;
        width: auto;

        @include qodefBoxSizing(border-box);
        @include qodefTransition(color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out);
        @include qodefBorderRadius(3px);

        &:hover {
            background-color: #3a3c41;
            border-color: #3a3c41;
            color: #fff;
        }
    }

    a.button.added {
        display: none;
    }

    .button.single_add_to_cart_button {
        height: 44px;
        line-height: 44px;

        &:before {
            content: "\f3f8";
            display: inline-block;
            font-family: Ionicons;
            font-size: 16px;
            line-height: 1;
            padding-right: 9px;
            position: relative;
            top: -2px;
            vertical-align: middle;
        }
    }

    .wc-forward:not(.added_to_cart):not(.checkout-button) {
        font-size: 10px;
        height: 38px;
        line-height: 38px;
        padding: 0 20px;
    }
}

/* ==========================================================================
   WooCommerce Buttons styles - end
   ========================================================================== */