/* ==========================================================================
   WooCommerce Pagination styles - begin
   ========================================================================== */
.qodef-woo-pagination-holder {
    @include qodefRelativeHolderLayout();
    margin: 15px 0 26px;
    clear: both;
    padding: 16px 0;

    .qodef-woo-pagination-inner {
        position: relative;
        display: table;
        width: 100%;
        text-align: left;
    }
}

.woocommerce-pagination {
    position: relative;
    display: table-cell;
    vertical-align: top;
    width: 99%;
    margin: 0;
    padding: 0;

    .page-numbers {
        position: relative;
        display: inline-block;
        vertical-align: top;
        margin: 0;
        padding: 0;
        text-align: center;

        li {
            display: inline-block;
            vertical-align: top;

            a,
            > span {
                position: relative;
                display: inline-block;
                vertical-align: middle;
                text-decoration: none;
                cursor: pointer;
                white-space: nowrap;
                font-size: 16px;
                font-weight: 500;
                color: #ffffff;
                margin: 0 3px;
                width: auto;
                min-width: 30px;
                height: 30px;
                line-height: 30px;
                background-color: #ccd0d9;
                @include qodefBorderRadius(3px);

                &.current {
                    color: #ffffff;
                    background-color: $first-main-color;
                }
            }

            a {
                @include qodefTransition(background-color 0.3s);
                &:hover {
                    color: #ffffff;
                    background-color: $first-main-color;
                }
                &.next,
                &.prev {
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    background-color: #aab2bd;
                    @include qodefBorderRadius(2px);

                    .qodef-pagination-arrow {
                        color: #fff;
                        font-size: 24px;
                        vertical-align: middle;
                        position: relative;
                        top: -1px;
                    }
                    &:hover {
                        color: #fff;

                    }
                }
                &.next {
                    .qodef-pagination-arrow {

                    }
                    right: 0;
                }
                &.prev {
                    .qodef-pagination-arrow {
                    }
                    left: 0;
                }

            }
        }
    }
}
/* ==========================================================================
   WooCommerce Pagination styles - end
   ========================================================================== */