.qodef-blog-holder article {
  margin-bottom: 50px;
  border: 1px solid #dddde8;
}

.qodef-blog-holder article .qodef-post-image img {
  vertical-align: middle;
}

.qodef-blog-holder article .qodef-post-text {
  padding: 27px;
}

.qodef-blog-holder article .qodef-post-excerpt {
  margin: 0 0 13px;
}

.qodef-blog-holder article .qodef-post-title {
  margin-bottom: 5px;
}

.qodef-blog-holder article.sticky .qodef-post-title a {
  color: #0ac775;
}

.qodef-blog-holder article .qodef-post-info {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
}

.qodef-blog-holder article .qodef-post-info.qodef-section-top {
  margin-bottom: 17px;
}

.qodef-blog-holder article .qodef-post-info.qodef-section-top > div {
  display: inline-block;
  position: relative;
  padding-right: 15px;
}

.qodef-blog-holder article .qodef-post-info.qodef-section-top > div:after {
  content: "/";
  position: absolute;
  right: 4px;
  top: 0;
  color: #848f9c;
}

.qodef-blog-holder article .qodef-post-info.qodef-section-top > div:first-child {
  margin-left: 0;
}

.qodef-blog-holder article .qodef-post-info.qodef-section-top > div:last-child:after {
  content: "";
}

.qodef-blog-holder article .qodef-post-info.qodef-section-top div span {
  color: #848f9c;
}

.qodef-blog-holder article .qodef-post-info.qodef-section-bottom {
  padding-top: 8px;
}

.qodef-blog-holder article .qodef-post-info.qodef-section-bottom .qodef-section-bottom-left,
.qodef-blog-holder article .qodef-post-info.qodef-section-bottom .qodef-section-bottom-right {
  display: inline-block;
  float: left;
  width: 50%;
  position: relative;
  line-height: 27px;
}

.qodef-blog-holder article .qodef-post-info.qodef-section-bottom .qodef-section-bottom-right > div {
  margin-left: 17px;
}

.qodef-blog-holder article .qodef-post-info.qodef-section-bottom .qodef-section-bottom-right > div:first-child {
  margin-left: 0;
}

.qodef-blog-holder article .qodef-post-info.qodef-section-bottom .qodef-post-info-author {
  display: table;
}

.qodef-blog-holder article .qodef-post-info.qodef-section-bottom .qodef-post-info-author .qodef-post-author-img-holder,
.qodef-blog-holder article .qodef-post-info.qodef-section-bottom .qodef-post-info-author .qodef-post-author-name-holder {
  display: table-cell;
  vertical-align: middle;
}

.qodef-blog-holder article .qodef-post-info.qodef-section-bottom .qodef-post-info-author .qodef-post-author-img-holder {
  padding-right: 10px;
}

.qodef-blog-holder article .qodef-post-info.qodef-section-bottom .qodef-post-info-author .qodef-post-author-img-holder img {
  display: block;
  border-radius: 50%;
}

.qodef-blog-holder article .qodef-post-info.qodef-section-bottom .qodef-post-info-author a {
  text-transform: capitalize;
  color: #444;
}

.qodef-blog-holder article .qodef-post-info.qodef-section-bottom .qodef-post-info-author a:hover {
  color: #0ac775;
}

.qodef-blog-holder article .qodef-post-info.qodef-section-bottom .qodef-section-bottom-right {
  text-align: right;
}

.qodef-blog-holder article .qodef-post-info.qodef-section-bottom .qodef-post-info-comments-holder,
.qodef-blog-holder article .qodef-post-info.qodef-section-bottom .qodef-blog-like {
  display: inline-block;
}

.qodef-blog-holder article .qodef-post-info.qodef-section-bottom .qodef-post-info-comments-holder a,
.qodef-blog-holder article .qodef-post-info.qodef-section-bottom .qodef-blog-like a {
  display: inline-block;
}

.qodef-blog-holder article .qodef-post-info.qodef-section-bottom .qodef-post-info-comments-holder a span,
.qodef-blog-holder article .qodef-post-info.qodef-section-bottom .qodef-post-info-comments-holder a i,
.qodef-blog-holder article .qodef-post-info.qodef-section-bottom .qodef-blog-like a span,
.qodef-blog-holder article .qodef-post-info.qodef-section-bottom .qodef-blog-like a i {
  vertical-align: middle;
  color: #444;
}

.qodef-blog-holder article .qodef-post-info.qodef-section-bottom .qodef-blog-like i:first-child,
.qodef-blog-holder article .qodef-post-info.qodef-section-bottom .qodef-blog-like span:first-child {
  -webkit-transition: color 0.15s ease-out;
  -moz-transition: color 0.15s ease-out;
  transition: color 0.15s ease-out;
  margin-right: 7px;
  color: #c4c3c3;
}

.qodef-blog-holder article .qodef-post-info.qodef-section-bottom .qodef-blog-like:hover i:first-child,
.qodef-blog-holder article .qodef-post-info.qodef-section-bottom .qodef-blog-like:hover span:first-child {
  color: #0ac775;
}

.qodef-blog-holder article .qodef-post-info.qodef-section-bottom .qodef-post-info-comments-holder span:first-child {
  -webkit-transition: color 0.15s ease-out;
  -moz-transition: color 0.15s ease-out;
  transition: color 0.15s ease-out;
  margin-right: 7px;
  color: #c4c3c3;
}

.qodef-blog-holder article .qodef-post-info.qodef-section-bottom .qodef-post-info-comments-holder:hover span:first-child {
  color: #0ac775;
}

.qodef-blog-holder article .qodef-post-info.qodef-section-bottom.qodef-no-info-share .qodef-post-info-author {
  position: initial;
  margin-left: 0;
}

.qodef-blog-holder article .qodef-post-info.qodef-section-bottom.qodef-no-info-left .qodef-section-bottom-right {
  width: 100%;
}

.qodef-blog-holder article.format-standard, .qodef-blog-holder article.format-video, .qodef-blog-holder article.format-gallery {
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}

.qodef-blog-holder article.format-quote, .qodef-blog-holder article.format-link {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.qodef-blog-holder article.format-quote .qodef-post-text, .qodef-blog-holder article.format-link .qodef-post-text {
  background-color: #ffffff;
  padding: 30px 40px;
  position: relative;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.qodef-blog-holder article.format-quote .qodef-post-content, .qodef-blog-holder article.format-link .qodef-post-content {
  overflow: hidden;
}

.qodef-blog-holder article.format-quote .qodef-post-mark, .qodef-blog-holder article.format-link .qodef-post-mark {
  position: absolute;
  left: -22px;
  top: -18px;
}

.qodef-blog-holder article.format-quote .qodef-post-mark .qodef-link-mark, .qodef-blog-holder article.format-link .qodef-post-mark .qodef-link-mark {
  padding-top: 8px;
  font-size: 124px;
  color: #eceff3;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
}

.qodef-blog-holder article.format-quote .qodef-post-mark .qodef-quote-mark, .qodef-blog-holder article.format-link .qodef-post-mark .qodef-quote-mark {
  padding-top: 5px;
  font-size: 124px;
  color: #eceff3;
}

.qodef-blog-holder article.format-quote .qodef-post-title, .qodef-blog-holder article.format-link .qodef-post-title {
  margin-bottom: 23px;
}

.qodef-blog-holder article.format-quote .qodef-post-title .qodef-post-quote-value, .qodef-blog-holder article.format-link .qodef-post-title .qodef-post-quote-value {
  font-family: Georgia, serif;
  font-size: 26px;
  font-style: italic;
}

.qodef-blog-holder article.format-quote .qodef-post-author, .qodef-blog-holder article.format-link .qodef-post-author {
  font-size: 15px;
  font-weight: 400;
  color: #24262a;
  display: inline-block;
  line-height: 20px;
}

.qodef-blog-holder article.format-quote .qodef-post-text-main, .qodef-blog-holder article.format-link .qodef-post-text-main {
  position: relative;
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
  text-align: left;
}

.qodef-blog-holder article.format-link .qodef-post-text-main .qodef-post-info.qodef-section-top {
  margin-bottom: 11px;
}

.qodef-blog-holder article.format-quote .qodef-post-mark {
  left: -10px;
  top: -20px;
}

.qodef-blog-holder article.format-audio {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.qodef-blog-holder article.format-audio .qodef-post-image {
  margin-bottom: 0;
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder {
  margin-bottom: 0;
}

.qodef-blog-holder article.format-audio .mejs-container.mejs-audio {
  height: 70px !important;
  background: #eceff3;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
}

.qodef-blog-holder article.format-audio .mejs-container.mejs-audio .mejs-controls {
  box-sizing: border-box;
  height: 70px;
  background: 0 0;
  padding: 0 10px 0 0;
}

.qodef-blog-holder article.format-audio .mejs-container.mejs-audio .mejs-controls .mejs-button {
  display: table;
  height: 60px;
  width: 60px;
}

.qodef-blog-holder article.format-audio .mejs-container.mejs-audio .mejs-controls .mejs-button button {
  background: 0 0;
  background-repeat: no-repeat;
  background-position: center;
  display: table-cell;
  height: 70px;
  width: 100%;
  vertical-align: middle;
  margin: 0;
  text-align: center;
  position: inherit;
}

.qodef-blog-holder article.format-audio .mejs-container.mejs-audio .mejs-controls .mejs-button.mejs-volume-button {
  width: 30px;
  padding-right: 5px;
}

.qodef-blog-holder article.format-audio .mejs-container.mejs-audio .mejs-controls .mejs-play button:after {
  content: "\f215";
  font-family: Ionicons;
  display: inline-block;
  font-size: 18px;
  line-height: 30px;
  width: 30px;
  height: 30px;
  color: #fff;
  background-color: #0ac775;
  margin-left: 15px;
}

.qodef-blog-holder article.format-audio .mejs-container.mejs-audio .mejs-controls .mejs-pause button:after {
  content: "\f210";
  font-family: Ionicons;
  display: inline-block;
  font-size: 18px;
  line-height: 30px;
  width: 30px;
  height: 30px;
  color: #fff;
  background-color: #0ac775;
  margin-left: 15px;
}

.qodef-blog-holder article.format-audio .mejs-container.mejs-audio .mejs-controls .mejs-mute button:after {
  content: "\f259";
  font-family: Ionicons;
  display: inline-block;
  font-size: 30px;
  line-height: 18px;
  color: #848f9c;
}

.qodef-blog-holder article.format-audio .mejs-container.mejs-audio .mejs-controls .mejs-unmute button:after {
  content: "\f3b8";
  font-family: Ionicons;
  display: inline-block;
  font-size: 30px;
  line-height: 18px;
  color: #848f9c;
}

.qodef-blog-holder article.format-audio .mejs-container.mejs-audio .mejs-controls .mejs-time {
  font-size: 15px;
  color: #949494;
  display: table;
  height: 70px;
  width: 38px;
  padding: 0 10px;
  font-family: Catamaran, sans-serif;
}

.qodef-blog-holder article.format-audio .mejs-container.mejs-audio .mejs-controls .mejs-time .mejs-currenttime,
.qodef-blog-holder article.format-audio .mejs-container.mejs-audio .mejs-controls .mejs-time .mejs-duration {
  display: table-cell;
  width: 95%;
  height: 100%;
  vertical-align: middle;
  color: #898989;
  font-size: 15px;
  letter-spacing: 0;
  font-family: Catamaran, sans-serif;
}

.qodef-blog-holder article.format-audio .mejs-container.mejs-audio .mejs-controls .mejs-time-rail {
  padding: 0;
  height: 70px;
}

.qodef-blog-holder article.format-audio .mejs-container.mejs-audio .mejs-controls .mejs-time-rail .mejs-time-total {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0 5px;
  background-color: #656d78;
}

.qodef-blog-holder article.format-audio .mejs-container.mejs-audio .mejs-controls .mejs-time-rail .mejs-time-current {
  background-color: #ffffff;
}

.qodef-blog-holder article.format-audio .mejs-container.mejs-audio .mejs-controls a.mejs-horizontal-volume-slider {
  height: 70px;
}

.qodef-blog-holder article.format-audio .mejs-container.mejs-audio .mejs-controls a.mejs-horizontal-volume-slider .mejs-horizontal-volume-total,
.qodef-blog-holder article.format-audio .mejs-container.mejs-audio .mejs-controls a.mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

.qodef-blog-holder article.format-audio .mejs-container.mejs-audio .mejs-controls a.mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
  background-color: #656d78;
}

.qodef-blog-holder article.format-audio .mejs-container.mejs-audio .mejs-controls a.mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  background-color: #ffffff;
}

.qodef-blog-holder article .qodef-single-links-pages {
  margin: 20px 0;
  text-align: center;
}

.qodef-blog-holder article .qodef-single-links-pages .qodef-single-links-pages-inner > a,
.qodef-blog-holder article .qodef-single-links-pages .qodef-single-links-pages-inner > span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  font-size: 15px;
  font-weight: 500;
  color: #444;
  margin: 0 10px;
}

.qodef-blog-holder article .qodef-single-links-pages .qodef-single-links-pages-inner > span,
.qodef-blog-holder article .qodef-single-links-pages .qodef-single-links-pages-inner > a:hover {
  color: #bdbdbd;
}

.qodef-filter-blog-holder {
  text-align: left;
  margin-bottom: 26px;
  line-height: 45px;
}

.qodef-filter-blog-holder ul {
  margin: 0;
}

.qodef-filter-blog-holder li {
  display: inline-block;
  padding: 0 8px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
}

.qodef-filter-blog-holder li.qodef-active, .qodef-filter-blog-holder li:hover {
  color: #0ac775;
}

.page-template-blog-masonry-full-width .qodef-filter-blog-holder {
  margin-top: 30px;
  text-align: center;
}

.qodef-blog-holder.qodef-blog-type-standard article.format-link .qodef-post-text-main .qodef-post-title a {
  font-size: 24px;
}

.qodef-blog-holder.qodef-blog-type-standard article:last-of-type {
  margin-bottom: 24px;
}

.qodef-blog-holder.qodef-blog-type-masonry {
  opacity: 0;
  -webkit-transition: opacity 0.15s ease-out;
  -moz-transition: opacity 0.15s ease-out;
  transition: opacity 0.15s ease-out;
}

.qodef-blog-holder.qodef-blog-type-masonry.qodef-appeared {
  opacity: 1;
}

.qodef-blog-holder.qodef-blog-type-masonry article {
  width: 48.5%;
  padding: 0;
  margin: 0;
}

.qodef-blog-holder.qodef-blog-type-masonry article .qodef-post-title {
  margin-bottom: 4px;
}

.qodef-blog-holder.qodef-blog-type-masonry article .qodef-post-info.qodef-section-top {
  margin-bottom: 15px;
}

.qodef-blog-holder.qodef-blog-type-masonry article .qodef-post-info.qodef-section-bottom {
  padding-top: 17px;
}

.qodef-blog-holder.qodef-blog-type-masonry article .qodef-post-excerpt {
  margin: 0 0 6px;
}

.qodef-blog-holder.qodef-blog-type-masonry article .qodef-blog-share {
  float: left;
  position: relative;
  z-index: 10;
}

.qodef-blog-holder.qodef-blog-type-masonry article .qodef-blog-share:hover {
  display: block;
  width: 100%;
}

.qodef-blog-holder.qodef-blog-type-masonry article .qodef-blog-share:hover ~ .qodef-post-info-author {
  opacity: 0;
  transition-delay: 0.1s;
}

.qodef-blog-holder.qodef-blog-type-masonry article .qodef-post-info-author {
  display: inline-block;
  top: 0;
  line-height: 27px;
  opacity: 1;
  -webkit-transition: opacity 0.15s ease-out;
  -moz-transition: opacity 0.15s ease-out;
  transition: opacity 0.15s ease-out;
  transition-delay: 0.4s;
  color: #444;
}

.qodef-blog-holder.qodef-blog-type-masonry article .qodef-post-info-author a {
  text-transform: capitalize;
  color: #444;
}

.qodef-blog-holder.qodef-blog-type-masonry article .qodef-post-info-author a:hover {
  color: #0ac775;
}

.qodef-blog-holder.qodef-blog-type-masonry article .qodef-post-image img {
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
}

.qodef-blog-holder.qodef-blog-type-masonry article.format-standard, .qodef-blog-holder.qodef-blog-type-masonry article.format-video, .qodef-blog-holder.qodef-blog-type-masonry article.format-gallery {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.qodef-blog-holder.qodef-blog-type-masonry article.format-quote .qodef-post-mark, .qodef-blog-holder.qodef-blog-type-masonry article.format-link .qodef-post-mark {
  padding-right: 10px;
}

.qodef-blog-holder.qodef-blog-type-masonry article.format-link .qodef-post-text {
  padding: 37px 39px 31px;
}

.qodef-blog-holder.qodef-blog-type-masonry article.format-quote .qodef-post-text {
  padding: 30px 39px 31px;
}

.qodef-blog-holder.qodef-blog-type-masonry article.format-quote .qodef-post-title {
  margin-bottom: 20px;
}

.qodef-blog-holder.qodef-blog-type-masonry article.format-audio .qodef-post-image {
  margin-bottom: 0;
}

.qodef-blog-holder.qodef-blog-type-masonry article.format-audio .qodef-blog-audio-holder {
  margin-bottom: 0;
}

.qodef-blog-holder.qodef-blog-type-masonry article.format-audio .mejs-container.mejs-audio {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.qodef-blog-holder.qodef-blog-type-masonry .qodef-blog-masonry-grid-sizer {
  width: 48.5%;
}

.qodef-blog-holder.qodef-blog-type-masonry .qodef-blog-masonry-grid-gutter {
  width: 3%;
}

.qodef-blog-holder.qodef-masonry-full-width {
  margin: 3%;
}

.qodef-blog-holder.qodef-masonry-full-width article,
.qodef-blog-holder.qodef-masonry-full-width .qodef-blog-masonry-grid-sizer {
  width: 22.75%;
}

.qodef-blog-holder.qodef-masonry-full-width .qodef-blog-masonry-grid-gutter {
  width: 3%;
}

.qodef-blog-holder.qodef-blog-single {
  /* Related Posts - begin
	========================================================================== */
  /* Related Posts - end
    ========================================================================== */
  /* Blog Single navigation - start
   ========================================================================== */
  /* Blog Single navigation - end
   ========================================================================== */
  /* Author - begin
	========================================================================== */
  /* Author - end
    ========================================================================== */
}

.qodef-blog-holder.qodef-blog-single article {
  margin-bottom: 40px;
  border: 0;
}

.qodef-blog-holder.qodef-blog-single article.format-audio .qodef-blog-audio-holder {
  margin-bottom: 30px;
}

.qodef-blog-holder.qodef-blog-single article.format-quote .qodef-post-title .qodef-post-quote-value {
  font-size: 20px;
}

.qodef-blog-holder.qodef-blog-single article.format-quote .qodef-post-text, .qodef-blog-holder.qodef-blog-single article.format-link .qodef-post-text {
  padding: 30px 40px;
  border: 1px solid #dddde8;
  overflow: hidden;
  margin-bottom: 30px;
}

.qodef-blog-holder.qodef-blog-single article.format-link .qodef-post-text-main .qodef-post-title a {
  font-size: 24px;
}

.qodef-blog-holder.qodef-blog-single article .qodef-post-image {
  margin-bottom: 30px;
}

.qodef-blog-holder.qodef-blog-single article .qodef-post-text {
  padding: 0;
}

.qodef-blog-holder.qodef-blog-single article .qodef-post-info.qodef-section-top {
  margin-bottom: 11px;
}

.qodef-blog-holder.qodef-blog-single article .qodef-post-info.qodef-section-bottom {
  margin-top: 30px;
  padding-top: 17px;
}

.qodef-blog-holder.qodef-blog-single article .qodef-post-info.qodef-section-bottom .qodef-section-bottom-right .qodef-blog-like,
.qodef-blog-holder.qodef-blog-single article .qodef-post-info.qodef-section-bottom .qodef-section-bottom-right .qodef-blog-share {
  display: inline-block;
}

.qodef-blog-holder.qodef-blog-single article .qodef-post-info.qodef-section-bottom .qodef-section-bottom-right .qodef-blog-like a span {
  vertical-align: bottom;
}

.qodef-blog-holder.qodef-blog-single article .qodef-post-info.qodef-section-bottom .qodef-section-bottom-right .qodef-blog-like i {
  line-height: 28px;
}

.qodef-blog-holder.qodef-blog-single article .qodef-post-info.qodef-section-bottom .qodef-section-bottom-right .qodef-social-share-holder.qodef-list li {
  vertical-align: middle;
}

.qodef-blog-holder.qodef-blog-single article .qodef-post-info.qodef-section-bottom .qodef-section-bottom-left .qodef-single-tags-title,
.qodef-blog-holder.qodef-blog-single article .qodef-post-info.qodef-section-bottom .qodef-section-bottom-left .qodef-tags {
  display: inline-block;
}

.qodef-blog-holder.qodef-blog-single article .qodef-post-info.qodef-section-bottom .qodef-section-bottom-left .qodef-tags a {
  color: #848892;
  text-decoration: underline;
  font-size: 14px;
}

.qodef-blog-holder.qodef-blog-single .qodef-related-posts-holder {
  padding: 15px 0 58px;
  border-bottom: 1px solid #dadada;
}

.qodef-blog-holder.qodef-blog-single .qodef-related-posts-holder .qodef-related-posts-title {
  margin-bottom: 5px;
}

.qodef-blog-holder.qodef-blog-single .qodef-related-posts-holder .qodef-related-post {
  width: calc((100% - 45px) / 4);
  margin-right: 15px;
  display: inline-block;
  float: left;
}

.qodef-blog-holder.qodef-blog-single .qodef-related-posts-holder .qodef-related-post:nth-child(4n) {
  margin-right: 0;
}

.qodef-blog-holder.qodef-blog-single .qodef-related-posts-holder .qodef-related-post img {
  display: block;
}

.qodef-blog-holder.qodef-blog-single .qodef-related-posts-holder .qodef-related-post .qodef-related-post-image {
  margin-bottom: 28px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 135px;
}

.qodef-blog-holder.qodef-blog-single .qodef-related-posts-holder .qodef-related-post .qodef-related-post-title {
  margin: 0 0 2px;
}

.qodef-blog-holder.qodef-blog-single .qodef-related-posts-holder .qodef-post-info {
  font-size: 13px;
  line-height: 20px;
  font-weight: 500;
}

.qodef-blog-holder.qodef-blog-single .qodef-related-posts-holder .qodef-post-info.qodef-section-top > div {
  display: inline-block;
  position: relative;
  padding-right: 25px;
  margin-left: 7px;
}

.qodef-blog-holder.qodef-blog-single .qodef-related-posts-holder .qodef-post-info.qodef-section-top > div:after {
  content: "/";
  position: absolute;
  right: 5px;
  top: 0;
}

.qodef-blog-holder.qodef-blog-single .qodef-related-posts-holder .qodef-post-info.qodef-section-top > div:first-child {
  margin-left: 0;
}

.qodef-blog-holder.qodef-blog-single .qodef-related-posts-holder .qodef-post-info.qodef-section-top > div:last-child:after {
  content: "";
}

.qodef-blog-holder.qodef-blog-single .qodef-related-posts-holder .qodef-post-info.qodef-section-top div span {
  color: #444;
}

.qodef-column1 .qodef-blog-holder.qodef-blog-single .qodef-related-posts-holder .qodef-related-post,
.qodef-column2 .qodef-blog-holder.qodef-blog-single .qodef-related-posts-holder .qodef-related-post {
  width: calc((100% - 30px) / 3);
}

.qodef-column1 .qodef-blog-holder.qodef-blog-single .qodef-related-posts-holder .qodef-related-post:nth-child(3n),
.qodef-column2 .qodef-blog-holder.qodef-blog-single .qodef-related-posts-holder .qodef-related-post:nth-child(3n) {
  margin-right: 0;
}

.qodef-blog-holder.qodef-blog-single .qodef-blog-single-navigation {
  position: relative;
  padding: 40px 0;
  border-bottom: 1px solid #dadada;
}

.qodef-blog-holder.qodef-blog-single .qodef-blog-single-navigation .qodef-blog-single-navigation-inner {
  position: relative;
  display: block;
}

.qodef-blog-holder.qodef-blog-single .qodef-blog-single-navigation .qodef-blog-single-prev-holder,
.qodef-blog-holder.qodef-blog-single .qodef-blog-single-navigation .qodef-blog-single-next-holder {
  position: relative;
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
  width: 50%;
}

.qodef-blog-holder.qodef-blog-single .qodef-blog-single-navigation .qodef-blog-single-prev-holder {
  float: left;
}

.qodef-blog-holder.qodef-blog-single .qodef-blog-single-navigation .qodef-blog-single-next-holder {
  float: right;
}

.qodef-blog-holder.qodef-blog-single .qodef-blog-single-navigation .qodef-blog-single-prev,
.qodef-blog-holder.qodef-blog-single .qodef-blog-single-navigation .qodef-blog-single-next {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  height: 80px;
  width: 129px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.qodef-blog-holder.qodef-blog-single .qodef-blog-single-navigation .qodef-blog-single-prev a,
.qodef-blog-holder.qodef-blog-single .qodef-blog-single-navigation .qodef-blog-single-next a {
  display: block;
  vertical-align: middle;
  height: 100%;
  text-indent: -9999px;
}

.qodef-blog-holder.qodef-blog-single .qodef-blog-single-navigation .qodef-blog-single-prev-info,
.qodef-blog-holder.qodef-blog-single .qodef-blog-single-navigation .qodef-blog-single-next-info {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  box-sizing: border-box;
}

.qodef-blog-holder.qodef-blog-single .qodef-blog-single-navigation .qodef-blog-single-prev-info {
  padding-left: 29px;
  text-align: left;
}

.qodef-blog-holder.qodef-blog-single .qodef-blog-single-navigation .qodef-blog-single-next-info {
  padding-right: 29px;
  text-align: right;
}

.qodef-blog-holder.qodef-blog-single .qodef-blog-single-navigation .qodef-blog-single-nav-title {
  margin: 0;
  font-size: 13px;
}

.qodef-blog-holder.qodef-blog-single .qodef-blog-single-navigation .qodef-blog-single-nav-title a {
  display: inline-block;
  color: #444444;
  font-weight: 400;
}

.qodef-blog-holder.qodef-blog-single .qodef-blog-single-navigation .qodef-blog-single-nav-title .qodef-blog-navigation-info {
  display: block;
  font-weight: 700;
  -webkit-transition: color 0.15s ease-out;
  -moz-transition: color 0.15s ease-out;
  transition: color 0.15s ease-out;
  text-transform: uppercase;
}

.qodef-blog-holder.qodef-blog-single .qodef-blog-single-navigation .qodef-blog-single-nav-title .qodef-blog-navigation-info:hover {
  color: #0ac775;
}

.qodef-blog-holder.qodef-blog-single .qodef-author-description {
  padding: 38px 0 53px 0;
  border-bottom: 1px solid #e6e9ee;
  border-top: 1px solid #e6e9ee;
}

.qodef-blog-holder.qodef-blog-single .qodef-author-description .qodef-author-description-inner {
  position: relative;
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}

.qodef-blog-holder.qodef-blog-single .qodef-author-description .qodef-author-description-image {
  display: inline-block;
  width: 20%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top;
}

.qodef-blog-holder.qodef-blog-single .qodef-author-description .qodef-author-description-image img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}

.qodef-blog-holder.qodef-blog-single .qodef-author-description .qodef-author-description-text-holder {
  display: inline-block;
  width: 80%;
  text-align: left;
  padding-left: 27px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.qodef-blog-holder.qodef-blog-single .qodef-author-description .qodef-author-description-text-holder .qodef-author-name {
  margin: 0;
}

.qodef-blog-holder.qodef-blog-single .qodef-author-description .qodef-author-description-text-holder .qodef-author-email {
  margin: 0;
}

.qodef-blog-holder.qodef-blog-single .qodef-author-description .qodef-author-description-text-holder .qodef-author-text p {
  margin: 7px 0 19px;
}

.qodef-blog-holder.qodef-blog-single .qodef-author-description .qodef-author-social-holder {
  margin-top: 11px;
}

.qodef-blog-holder.qodef-blog-single .qodef-author-description .qodef-author-social-holder a {
  display: inline-block;
  margin-right: 5px;
}

.qodef-blog-holder.qodef-blog-single .qodef-author-description .qodef-author-social-holder a span {
  font-size: 15px;
  color: #24262a;
  display: block;
  text-align: center;
  line-height: 24px;
}

/*# sourceMappingURL=blog.css.map */