.container_blog {
    max-width: 1200px;
    margin: 0 auto;

    display: grid;
    grid-gap: 10px;
    grid-template-areas:
    "blog__card blog__card categoria__blog "
    "blog__card blog__card categoria__blog "
    "blog__card blog__card categoria__blog "
    "blog__card blog__card categoria__blog "
    "blog__card blog__card categoria__blog " ;
    
}

.blog__card {
    max-width: 90%;
    min-width: 300px;
    
    
}

.blog__card a{
    text-decoration: none;
    
    
}

.card-blog {
    
}

.categoria__blog {
    max-width: 300px;

}
@media only screen and (min-width: 820px) and (max-width: 1100px) {

    .categoria__blog {
        max-width: 150px;
        margin-right: 100px;
    
    }

}

@media only screen and (min-width: 670px) and (max-width: 850px) {

    .categoria__blog {
        max-width: 150px;
        margin-right: 150px;
    
    }

    .blog__card {
        max-width: 300px;
        /* min-width: 300px; */
        
        
    }

    .container_blog {
        
        padding: 20px;
    
        display: grid;
        
        grid-template-areas:
        "card__blog categoria__blog "
        "card__blog categoria__blog "
        "card__blog categoria__blog "
        "card__blog categoria__blog "
        "card__blog categoria__blog " ;
        
    }
   

}


@media only screen and (min-width: 560px) and (max-width: 670px) {

    .categoria__blog {
        max-width: 150px;
        margin-right: 50px;
    
    }

    .blog__card {
        max-width: 300px;
        /* min-width: 300px; */
        
        
    }

    .container_blog {
        
        padding: 20px;
    
        display: grid;
        
        grid-template-areas:
        "card__blog categoria__blog "
        "card__blog categoria__blog "
        "card__blog categoria__blog "
        "card__blog categoria__blog "
        "card__blog categoria__blog " ;
        
    }
   

}

@media only screen and (min-width: 480px) and (max-width: 560px) {

    .categoria__blog {
        max-width: 70px;
    
    }

    .blog__card {
        max-width: 250px;
        /* min-width: 300px; */
        
        
    }

    .container_blog {
        
        padding: 20px;
    
        display: grid;
        
        grid-template-areas:
        "card__blog categoria__blog "
        "card__blog categoria__blog "
        "card__blog categoria__blog "
        "card__blog categoria__blog "
        "card__blog categoria__blog " ;
        
    }
   

}


@media only screen and (min-width: 360px) and (max-width: 480px) {

    .categoria__blog {
        max-width: 70px;
        display: none;
    }

    .blog__card {
        max-width: 100%px;
        /* min-width: 300px; */
        margin-left: 3%;
        
        
    }

    .container_blog {
        justify-content: center;
        padding: 20px;
    
        display: grid;
        
        grid-template-areas:
        "card__blog categoria__blog "
        "card__blog categoria__blog "
        "card__blog categoria__blog "
        "card__blog categoria__blog "
        "card__blog categoria__blog " ;
        
    }
   

}

