.rede_sociais a {
    padding: 10px;
    font-size: 25px; 
}

.text-nav {
    color: #24262A;
}

.icon-coop {
    position: absolute;
    top: 30% ;
    left: 30%; 
}

.icon-coop1 {
    position: absolute;
    top: 30% ;
    left: 38%; 
}
.seta-conteudo-link {
    color: white;
}

.seta-conteudo-link-coop {
    color: white;
}

.seta-conteudo-link-coop:hover {
    color: #0AC775
}

.seta-conteudo-link:hover {
    color: #0AC775
}


.seta-conteudo-coop {
    color: white;
    font-size: 70px;
    position: absolute;   
    top: 500%;
    left: 38%;
}

.seta-conteudo {
    color: white;
    font-size: 70px;
    position: absolute;   
    top: 460%;
    left: 38%;
}

.coopimg {
    background-image: url(/assets/img/eXECUTIVO_1.png);
    width: 100%;
    height: 100%;
    
    
}

.titulo-coop {
    text-align: center;
}

.text-titulo {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
    color: white;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 40%;
}

.text-paragrafo {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    font-weight: 200;
    color: white;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 30%;
}

.menu-mobile {
    border-radius: px;
    background-color: rgb(255, 255, 255);
}


.categorias-lateral {
    font-size: 18;
}

.categoria-link:hover {
    cursor: pointer;
    color: #0AC775;
}

.coop-header {
    position: absolute;
    top: 50%;

}

.icon_mais300 {
    color: white;
    font-size: 28px;
    position: absolute;
    top: 45%;
    left: 23%;
}

.form_contratar {
    position: absolute;
    top: 50%;
}