@media screen and (max-width: 400px) {
    .h2_mobile {
        font-size: 25px;
    }

    .cliente_mobile {
        width: 200px;

    }
    
    .cliente-mobile {
        position: relative;
        left: 80px;
    }
}