@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap');

*{
    margin: 0;
    padding: 0;

}

.containerproje{
    position: relative;
}

.containerproje .slide-container .slide{
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px 9%;
    padding-bottom: 70px;
}

.containerproje .slide-container .slide .contentproje{
    flex: 1 1 350px;
    animation: slideContent .4s linear .4s backwards;
}

@keyframes slideContent{0%
{
    opacity: 0;
    transform: translateX(-50px);
}
}


.containerproje .slide-container .slide .contentproje h3{
    font-size: 100px;
    color: #ffffff;
    font-family: 'Rubik', sans-serif;
    font-weight:lighter;
}

.containerproje .slide-container .slide .contentproje p{
    font-size: 25px;
    color: #ffffff;
    font-family: 'Rubik', sans-serif;
    width: 50%;
    height: 10%;

}

.containerproje .slide-container .slide .contentproje .bntproj{
    margin-top: 10px;
    display: inline-block;
    background: #0AC775;
    color: #ffffff;
    font-size: 17px;
    padding: 9px 20px;
    border-radius: 5px;
    border: 2px solid #0AC775;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
}

.containerproje .slide-container .slide .contentproje .bntproj:hover{
    background: #A5EC5E;
    border: 2px solid #A5EC5E;
    color: #ffffff;
}

.containerproje .slide-container{
    display: none;
}

.containerproje .slide-container.active{
    display: block;
}

/* .containerproje .slide-container:nth-child(1) .slide{
    background-image: url(/assets/img/bg/slide1.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
    
}

.containerproje .slide-container:nth-child(2) .slide{
    background-image: url(/assets/img/bg/slide2.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
}

.containerproje .slide-container:nth-child(3) .slide{
    background-image: url(/assets/img/bg/slide3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.containerproje .slide-container:nth-child(4) .slide{
    background-image: url(/assets/img/bg/slide4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
} */


.containerproje #prev, 
.containerproje #next {
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    color: #ffffff;
    /* background: #890873; */
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    font-weight: bolder;
    border-radius: 50px;
}

/* .containerproje #prev:hover, 
.containerproje #next:hover{
    background: #ee7bd3;
} */
.containerproje #prev{
    left: 20px;
}

.containerproje #next{
    right: 20px;
}



@media(max-width: 500px){
    .containerproje #prev{
        left: 0px;
        top: 60%;
    }

    .containerproje #next{
        right: 0px;
        top: 60%;
    }


    .containerproje .slide-container .slide .contentproje p{
        font-size: 16px;
        color: #ffffff;
        font-family: 'Robot', sans-serif;
        width: 70%;
        height: 10%;
    
    }
}


@media(max-width: 1450px){
    .containerproje .slide-container .slide .contentproje h3{
        font-size: 80px;
        color: #ffffff;
        font-family: 'Rubik', sans-serif;
        font-weight:lighter;
    }
    
    .containerproje .slide-container .slide .contentproje p{
        font-size: 20px;
        color: #ffffff;
        font-family: 'Rubik', sans-serif;
        width: 50%;
        height: 10%;
    
    }
}


@media(max-width: 1200px){
    .containerproje .slide-container .slide .contentproje h3{
        font-size: 60px;
        color: #ffffff;
        font-family: 'Rubik', sans-serif;
        font-weight:lighter;
    }
    
    .containerproje .slide-container .slide .contentproje p{
        font-size: 18px;
        color: #ffffff;
        font-family: 'Rubik', sans-serif;
        width: 60%;
        height: 10%;
    
    }

    .containerproje .slide-container .slide .contentproje{
        flex: 1 1 350px;
        animation: slideContent .4s linear .4s backwards;
        position: relative;
        bottom: 100px;
    }
}


@media only screen and (max-width: 980px) and (min-width: 800px) {
    .containerproje .slide-container .slide .contentproje h3{
        font-size: 60px;
        color: #ffffff;
        font-family: 'Rubik', sans-serif;
        font-weight:lighter;
    }
    
    .containerproje .slide-container .slide .contentproje p{
        font-size: 18px;
        color: #ffffff;
        font-family: 'Rubik', sans-serif;
        width: 60%;
        height: 10%;
    
    }

    .containerproje .slide-container .slide .contentproje{
        flex: 1 1 350px;
        animation: slideContent .4s linear .4s backwards;
        position: relative;
        bottom: 220px;
    }
}


@media only screen and (max-width: 800px) and (min-width: 680px) {
    .containerproje .slide-container .slide .contentproje h3{
        font-size: 50px;
        color: #ffffff;
        font-family: 'Rubik', sans-serif;
        font-weight:lighter;
    }
    
    .containerproje .slide-container .slide .contentproje p{
        font-size: 14px;
        color: #ffffff;
        font-family: 'Rubik', sans-serif;
        width: 60%;
        height: 10%;
    
    }

    .containerproje .slide-container .slide .contentproje{
        flex: 1 1 350px;
        animation: slideContent .4s linear .4s backwards;
        position: relative;
        bottom: 250px;
    }

    .containerproje .slide-container .slide .contentproje .bntproj{
        margin-top: 6px;
        display: inline-block;
        background: #0AC775;
        color: #ffffff;
        font-size: 14px;
        padding: 5px 15px;
        border-radius: 5px;
        border: 2px solid #0AC775;
        font-family: 'Rubik', sans-serif;
        text-decoration: none;
    }
}

@media only screen and (max-width: 680px) and (min-width: 550px) {
    .containerproje .slide-container .slide .contentproje h3{
        font-size: 40px;
        color: #ffffff;
        font-family: 'Rubik', sans-serif;
        font-weight:lighter;
    }
    
    .containerproje .slide-container .slide .contentproje p{
        font-size: 14px;
        color: #ffffff;
        font-family: 'Rubik', sans-serif;
        width: 80%;
        height: 10%;
    
    }

    .containerproje .slide-container .slide .contentproje{
        flex: 1 1 350px;
        animation: slideContent .4s linear .4s backwards;
        position: relative;
        bottom: 290px;
    }

    .containerproje .slide-container .slide .contentproje .bntproj{
        margin-top: 6px;
        display: inline-block;
        background: #0AC775;
        color: #ffffff;
        font-size: 14px;
        padding: 3px 12px;
        border-radius: 5px;
        border: 2px solid #0AC775;
        font-family: 'Rubik', sans-serif;
        text-decoration: none;
    }
}


@media only screen and (max-width: 550px) and (min-width: 450px) {
    .containerproje .slide-container .slide .contentproje h3{
        font-size: 30px;
        color: #ffffff;
        font-family: 'Rubik', sans-serif;
        font-weight:lighter;
    }
    
    .containerproje .slide-container .slide .contentproje p{
        font-size: 13px;
        color: #ffffff;
        font-family: 'Rubik', sans-serif;
        width: 95%;
        height: 10%;
    
    }

    .containerproje .slide-container .slide .contentproje{
        flex: 1 1 350px;
        animation: slideContent .4s linear .4s backwards;
        position: relative;
        bottom: 320px;
        left: 13px;
    }

    .containerproje .slide-container .slide .contentproje .bntproj{
        margin-top: 0px;
        display: inline-block;
        background: #0AC775;
        color: #ffffff;
        font-size: 12px;
        padding: 1px 8px;
        border-radius: 5px;
        border: 2px solid #0AC775;
        font-family: 'Rubik', sans-serif;
        text-decoration: none;
    }
}

@media only screen and (max-width: 450px) and (min-width: 0px) {
    .ocultar {
        display: none;
    }


    .containerproje .slide-container .slide .contentproje h3{
        font-size: 30px;
        color: #ffffff;
        font-family: 'Rubik', sans-serif;
        font-weight:lighter;
    }
    
    .containerproje .slide-container .slide .contentproje p{
        font-size: 13px;
        color: #ffffff;
        font-family: 'Rubik', sans-serif;
        width: 90%;
        height: 10%;
    
    }

    .containerproje .slide-container .slide .contentproje{
        flex: 1 1 350px;
        animation: slideContent .4s linear .4s backwards;
        position: relative;
        bottom: 300px;
        left: 13px;
    }

    .containerproje .slide-container .slide .contentproje .bntproj{
        margin-top: 0px;
        display: inline-block;
        background: #0AC775;
        color: #ffffff;
        font-size: 12px;
        padding: 1px 8px;
        border-radius: 5px;
        border: 2px solid #0AC775;
        font-family: 'Rubik', sans-serif;
        text-decoration: none;
    }
}














.slide-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.slide-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.slide-text h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.slide-text p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.slide-text button {
    font-size: 1.5rem;
    padding: 1rem 2rem;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
}

@media (max-width: 768px) {
    .slide-text {
        font-size: 1rem;
    }

    .slide-text h2 {
        font-size: 2rem;
    }

    .slide-text p {
        font-size: 1rem;
    }

    .slide-text button {
        font-size: 1rem;
        padding: 0.5rem 1rem;
        border-radius: 1rem;
    }
}

