@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;700&display=swap');

.container {
    max-width: 800;
    margin: 0 10px 0 10px;
}

.titulo {
    font-family: 'Rubik', sans-serif;
    color: #656D78;
}