$grid-width: 1100px;
$grid-width-laptop-landscape: 950px;
$grid-width-ipad-landscape: 768px;
$grid-width-ipad-portrait: 600px;
$grid-width-phone-landscape: 420px;
$grid-width-phone-portrait: 300px;
$grid-width-smaller-phone-portrait: 95%;

$grid-width-boxed: 1150px;
$grid-width-laptop-landscape-boxed: 1000px;
$grid-width-ipad-landscape-boxed: 818px;
$grid-width-ipad-portrait-boxed: 650px;
$grid-width-phone-landscape-boxed: 470px;
$grid-width-phone-portrait-boxed: 350px;
$grid-width-smaller-phone-portrait-boxed: 96%;

$grid-width-1300: 1300px;
$grid-width-1200: 1200px;
$grid-width-1000: 1000px;
$grid-width-800: 800px;

$default-background-color: #fff;
$default-border-color: #e1e1e1;

$first-main-color: #0ac775;
$default-text-color: #6f6f77;
$default-heading-color: #3a3c41;

$header-light-color: #ffffff;
$header-light-hover-color: #ccc;
$header-dark-color: #000000;
$header-dark-hover-color: #5d5d5d;

//responsive breakpoints
$laptop-landscape: 1200px;
$ipad-landscape: 1024px;
$ipad-portrait: 768px;
$phone-landscape: 600px;
$phone-portrait: 480px;
$smaller-phone-portrait: 320px;

//responsive breakpoints for vertical menu
$vertical-menu-laptop-landscape: 1490px;
$vertical-menu-ipad-landscape: 1314px;

$vertical-menu-width: 290px;

//responsive breakpoints
$laptop-landscape-large-plus-pixel: 1441px;
$laptop-landscape-large: 1440px;
$laptop-landscape-medium-plus-pixel: 1281px;
$laptop-landscape-medium: 1280px;
$laptop-landscape-plus-pixel: 1201px;
$laptop-landscape: 1200px;
$ipad-landscape-plus-pixel: 1025px;
$ipad-landscape: 1024px;
$ipad-portrait-plus-pixel: 769px;
$ipad-portrait: 768px;
$phone-landscape-plus-pixel: 601px;
$phone-landscape: 600px;
$phone-portrait-plus-pixel: 481px;
$phone-portrait: 480px;
$smaller-phone-portrait-plus-pixel: 321px;
$smaller-phone-portrait: 320px;

//easing
$aux-easing-1: cubic-bezier(0.19, 0.65, 0.02, 0.93);